<!DOCTYPE html>
<html lang="es">
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <nav style="background-color: #00979d">
      <div class="nav-wrapper">
        <a href="" class="brand-logo"><img src="/img/arduinologo.png" height="50px;" style=" margin-left: 1em; margin-top: 0.2em;"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a class="btn modal-trigger" href="#modalCarrera">Agregar Carrera</a>
          </li>
          <li>
            <a class="btn modal-trigger" href="#modalCorredor">Agregar Corredor</a>
          </li>
          <li>
            <a class="btn modal-trigger" href="#modalCategoria">Agregar Categoría</a>
          </li>
          <li>
            <a class="btn modal-trigger" href="#modalInscripcion">Inscripción</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col 3 m3">
          <div class="card-panel center">
            <div  class="center">
              <output id="display-area">00:00:00.000</output>
            </div>
            <hr>
            <a class="btn-floating btn-large waves-effect waves-light green" onClick="start()"> <i class="material-icons">play_arrow</i></a>
            <a class="btn-floating btn-large waves-effect waves-light red" onClick="stop()">
              <i class="material-icons">stop</i>
            </a>
            <a class="btn-floating btn-large waves-effect waves-light blue" onClick="reset()">
              <i class="material-icons">replay</i>
            </a>
          </div>
        </div>
        <div class="col s9 m9">
          <div class="card-panel">

            <div class="row">
              <div class="col s12">
                <div class="card-panel">
                  <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#test1">Todos</a></li>
                    <li class="tab col s3"><a href="#test2">Masculino +20</a></li>
                    <li class="tab col s3"><a href="#test3">Masculino +24</a></li>
                    <li class="tab col s3"><a href="#test4">Femenino +20</a></li>
                  </ul>
              </div>
              </div>
            </div>

            <div class="card-panel">
              <table class="highlight centered">
                <thead>
                  <tr>
                    <th>Puesto</th>
                    <th>Tiempo</th>
                    <th>Corredor</th>
                  </tr>
                </thead>
                <tbody id="lecturas">
                </tbody>
              </table>
          </div>
          </div>
        </div>
      </div>
      
      <!-- Modal agregar carrera -->
      <div id="modalCarrera" class="modal" style="width: 75% !important ; height: 75% !important ;">
        <form id="formAgregarCarrera" method="post">
          <div class="modal-content">
            <h4>Agregar carrera</h4>
            <div class="row">
              <div class="input-field col s6">
                <input id="name" type="text" name="nombre" class="validate">
                <label class="active">Nombre</label>
              </div>
              <div class="input-field col s6">
                <input id="date" type="text" name="fecha" class="datepicker">
                <label class="active">Fecha</label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="modal-close waves-effect waves-green btn-flat">Agregar</button>
            <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
          </div>
        </form>
      </div>

      <!-- Modal inscribir corredor a carrera -->

      <div id="modalInscripcion" class="modal" style="width: 75% !important ; height: 75% !important ;">
        <form id="formAgregarInscripcion" method="post">
          <div class="modal-content">
            <h4>Agregar Inscripción</h4>
            <div class="row">
                  <div class="input-field col s6">
                    <select>
                      <option value="1">Sabado 20 abril</option>
                    </select>
                    <label>Carrera</label>
                  </div>
                  <div class="input-field col s6">
                    <select>
                      <option value="1">Femenino +20</option>
                      <option value="2">Femenino +24</option>
                      <option value="3">Masculino +20</option>
                      <option value="4">Masculino +24</option>
                    </select>
                    <label>Categoría</label>
                  </div>
                </div>
                <div class="row">
                  
                  <div class="input-field col s6">
                    <select id="corredores" name="idcorredor" class="browser-default">
                    </select>
                    <label class="active">Corredores</label>
                  </div>
                </div>
                <div class="row">  
                  <div class="input-field col s6">
                    <input id="codigo" type="text" name="codigo" class="validate">
                    <label id="labelCodigo" class="active">Codigo RFID</label>
                  </div>
                    <a class="btn waves-effect waves-light" style="margin-top: 1.5em;" onClick="readlastRFID()">Leer RFID
                      <i class="material-icons right">send</i>
                    </a>
                </div>
          </div>
          <div class="modal-footer">
            <button class="modal-close waves-effect waves-green btn-flat">Agregar</button>
            <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
          </div>
        </form>  
      </div>

      <!-- Modal agregar corredor -->

      <div id="modalCorredor" class="modal" style="width: 75% !important ; height: 75% !important ;">
        <form id="formAgregarCorredor" method="post">
        <div class="modal-content">
          <h4>Agregar Corredor</h4>
          
          <div class="row">
            <div class="input-field col s6">
              <input id="nombre" type="text" name="nombre" class="validate">
              <label class="active">Nombre</label>
            </div>
            <div class="input-field col s6">
              <input id="apellido" type="text" name='apellido' class="validate">
              <label class="active">Apellido</label>
            </div>
            <div class="input-field col s6">
              <input id="dni" type="text" name='dni' class="validate">
              <label class="active">DNI</label>
            </div>
            <div class="input-field col s6">
              <input id="fechanacimiento" type="text" name='fechanacimiento' class="datepicker">
              <label class="active">Fecha de nacimiento</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="modal-close waves-effect waves-green btn-flat">Agregar</button>
          <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
        </form>
        </div>
      </div>

      <!-- Modal agregar categoria -->

      <div id="modalCategoria" class="modal" style="width: 75% !important ; height: 75% !important ;">
        <div class="modal-content">
          <h4>Agregar Categoria</h4>
          <div class="row">
            <div class="input-field col s6">
              <input id="name" type="text" class="validate" name="nombre">
              <label class="active" for="name">Nombre</label>
            </div>
            <div class="input-field col s6">
              <input id="surname" type="text" class="validate" name="apellido">
              <label class="active" for="surname">Apellido</label>
            </div>
            <div class="input-field col s6">
              <input id="min" type="text" class="validate" name="edadMin">
              <label class="active" for="min">Edad Minima</label>
            </div>
            <div class="input-field col s6">
              <input id="max" type="text" class="validate" name="edadMax">
              <label class="active" for="max">Edad Maxima</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="modal-close waves-effect waves-green btn-flat">Agregar</button>
          <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
        </div>
      </div>

	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/clock.js"></script>
  <script type="text/javascript" src="js/datepicker.js"></script>
  <script type="text/javascript" src="js/arduinoconnection.js"></script>

	<script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init();
      });
      // Or with jQuery
      $(document).ready(function(){
        $('.modal').modal();
      });
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init();
      });
      // Or with jQuery
      $(document).ready(function(){
        $('select').formSelect();
      });
    </script>

  <!-- Pedir lecturas -->
	<script>
      var puesto = 1;
      
      $(function () {
      var $lecturas = $('#lecturas');
      
      socket.on('conectado', function (data) {
        socket.emit('pedirLecturas',{});
      });

      socket.on('lectura', function (data) {
          $lecturas.append('<tr><td>' + puesto + '</td><td>' + secondsToTime(data[0]) + '</td><td>' + data[1] + '</td></tr>');
          puesto++;
      });
  });
  </script>

<!-- Pedir corredores -->
  <script>
      $(function () {
      
      socket.on('conectado', function (data) {
        socket.emit('pedirCorredores',{});
      });

      socket.on('corredores', function (data) {
        for (var i = 0; i <= data.length - 1; i++) {
            $('#corredores').append($('<option value=' + data[i].id + '>' + data[i].nombre+' '+data[i].apellido + '</option>'));
        }
      });
  });
	</script>

  <!-- Forms -->

  <script type="text/javascript">
    
    $(function(){
      $('#formAgregarInscripcion').on('submit', function(e){
        e.preventDefault();
        e.stopPropagation();
        $.post('http://localhost:3000/agregarinscripcion', 
           $('#formAgregarInscripcion').serialize(), 
           function(data, status, xhr){
             // do something here with response;
           });
        $("#formAgregarInscripcion")[0].reset();
      });
    });

    $(function(){
      $('#formAgregarCarrera').on('submit', function(e){
        e.preventDefault();
        e.stopPropagation();
        $.post('http://localhost:3000/agregarcarrera', 
           $('#formAgregarCarrera').serialize(), 
           function(data, status, xhr){
             // do something here with response;
           });
        $("#formAgregarCarrera")[0].reset();
      });
    });

    $(function(){
      $('#formAgregarCorredor').on('submit', function(e){
        e.preventDefault();
        e.stopPropagation();
        $.post('http://localhost:3000/agregarcorredor', 
           $('#formAgregarCorredor').serialize(), 
           function(data, status, xhr){
             // do something here with response;
           });
        $("#formAgregarCorredor")[0].reset();
      });
    });

    function secondsToTime(secs)
      {
        var d, h, m, s, string;
        
        ms = secs.toString();
        ms = ms.substring(ms.lenght - 3, ms.lenght);
        s = Math.floor(secs / 1000);
        ms = ms % 1000; 
        m = Math.floor(s / 60);
        s = s % 60;
        h = Math.floor(m / 60);
        m = m % 60;
        d = Math.floor(h / 24);
        h = h % 24;
        string = d.toString() + ':' + m.toString() + ':' +s.toString() + '.' + ms.toString(); 
      return string;
      }

  </script>

  <script type="text/javascript">
      var instance = M.Tabs.init();

      // Or with jQuery

      $(document).ready(function(){
        $('.tabs').tabs();
      });
  </script>
</body>
</html>